<div class="container">
  <h2>📋 Lista de Produtos Cadastrados</h2>
  
  <table class="tabela-insumos" *ngIf="produtos.length > 0; else semInsumos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome do Produto</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.categoria.nome }}</td>
        <td>
          <button class="btn-deletar" (click)="remover(produto.id)">Excluir</button>
          <button class="btn-editar" (click)="repassarProduto(produto)">
          ✏️ Editar
        </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #semInsumos>
    <p>Nenhum produto encontrado no banco de dados.</p>
  </ng-template>
</div>